# Copyright (c) 2024 Brandon Beltran
# SPDX-License-Identifier: MIT

if BOARD_VAULT35_BLE

config ZMK_KEYBOARD_NAME
	default "Vault35 BLE"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_VAULT35_BLE
